<div class="todo-item">
  <input type="checkbox" id="{{todo.id}}-checkbox" checked={{todo.completed}} onchange={{action handleTodoToggleComplete todo}} />
  {{#if editable}}
  <form style="display: inline-block;" onsubmit={{action "updateTodoTitle"}}>
    <input name="newTitle" required="true" class="todo-item-title__editable todo-item-title" value="{{todo.title}}" autocomplete="off" />
    <button type="submit">{{t "save"}}</button>
    <button onclick={{action "toggleTodoEditable"}}>{{t "cancel"}}</button>
  </form>
  {{else}}
  <label for="{{todo.id}}-checkbox"><span class="todo-item-title {{if todo.completed "todo-item-title__completed"}}">{{todo.title}}</span></label>
  <button onclick={{action "toggleTodoEditable"}}>{{t "edit"}}</button>
  <button onclick={{action handleTodoDelete todo}}>{{t "delete"}}</button>
  {{/if}}
</div>