<h1>{{t "title"}}</h1>
<h4>{{t "number_of_todos" count=model.length}}</h4>
{{todo-actions handleTodoSubmit=(action "handleTodoSubmit") deleteAllTodos=(action "deleteAllTodos")}}
{{#if model.length}}
  {{todo-list todos=model updateTodoTitle=(action "updateTodoTitle") handleTodoToggleComplete=(action "handleTodoToggleComplete") handleTodoDelete=(action "handleTodoDelete")}}
{{else}}
  <h3>{{t "no_todos"}}</h3>
{{/if}}